// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.clearLink {
  text-decoration: none !important;
}
.clearLink:link {
  text-decoration: none;
}

.clearLink:visited {
  text-decoration: none;
}
.mano {
  cursor: pointer;
}
