<section>
  <h1>DESARROLLO CON TYPESCRIPT</h1>
  <div style="display:block;"
       [style.width]="width">
       <slideshow #slideshow
                   [imageUrls]="imageUrls"
                   [height]="height"
                   [minHeight]="minHeight"
                   [arrowSize]="arrowSize"
                   [showArrows]="showArrows"
                   [disableSwiping]="disableSwiping"
                   [autoPlay]="autoPlay"
                   [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
                   [debug]="debug"
                   [backgroundSize]="backgroundSize"
                   [backgroundPosition]="backgroundPosition"
                   [backgroundRepeat]="backgroundRepeat"
                   [showDots]="showDots"
                   [dotColor]="dotColor"
                   [showCaptions]="showCaptions"
                   [captionColor]="captionColor"
                   [captionBackground]="captionBackground"
                   [lazyLoad]="lazyLoad"
                   [hideOnNoSlides]="hideOnNoSlides"
                   [fullscreen]="fullscreen">
       </slideshow>
  </div>

  <article class="getstared">
    <div class="geting">
      <div class="course-logo">
        <img src="assets/images/logos/logo-large.png" alt="TypeScript">
      </div>
      <div class="description">
        JavaScript escalable <br> Open Source
      </div>
      <div class="learn">
        <div class="btn-learn" routerLink="/introduction">Empezar Curso</div>
      </div>
    </div>
  </article>

  <article class="bloque parallax imagen-1">
    <div class="contenedor">
      <!-- <h1>Starts and ends with JavaScript</h1> -->
    </div>
  </article>

  <article class="bloque">
    <div class="subbloque">
      <figure>
        <img src="assets/images/home/comunidad.png" alt="img">
      </figure>
      <div class="sub-des">
        <h2>COMUNIDAD</h2>
        <p>
          TypeScript cuenta con una de las más grandes comunidades.
        </p>
      </div>
    </div>
  </article>

  <article class="bloque parallax imagen-2">
    <div class="contenedor">
      <h1>TypeScript</h1>
    </div>
  </article>

  <article class="bloque">
    <div class="subbloque subbloque-2">
      <div class="sub-des">
        <h2>MULTIPLATAFORMA</h2>
        <p>
          Tiene gran soporte para aplicaciones web, escritorio (Windows, Mac, GNU/Linux), móbiles (Android, IOS), y microcontroladores.  
        </p>
      </div>
      <figure>
        <img src="assets/images/home/multiplataforma.png" alt="img">
      </figure>
    </div>
  </article>

  <article class="bloque parallax imagen-3">
    <div class="contenedor">
      <!-- <h1>State of the art JavaScript</h1> -->
    </div>
  </article>

  <article class="bloque">
    <div class="subbloque">
      <figure>
        <img src="assets/images/home/frameworks.png" alt="img">
      </figure>
      <div class="sub-des">
        <h2>FRAMEWORKS</h2>
        <p>
          Puedes añadir TypeScript a todas las plataformas y frameworks que trabajen con JavaScript 
        </p>
      </div>
    </div>
  </article>

  <a href="https://www.typescriptlang.org/play/index.html" target="_blank" class="clearLink">
    <article class="getstared2 mano">
      <div class="geting2">
        <div>
          <img src="assets/images/logos/code.png" alt="code">
        </div>
        <div class="sub-des2">
          <h2>EMPEZAR</h2>
          <p>Comienza a probar TypeScript <br>Playground</p>
        </div>
      </div>
    </article>
  </a>
  <br>
</section>
