<mat-horizontal-stepper class="post center" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        joder1
        <div class="step-navigation">
            <button mat-button matStepperNext>Next</button>
        </div>
        <!-- <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
        </form> -->
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        joder2
        <div>
            <button mat-button matStepperNext>Next</button>
            <button mat-button matStepperPrevious>Back</button>
        </div>
        <!-- <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
        </form> -->
    </mat-step>
    <mat-step>
        joder3
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

<!-- <div class="post center">
    <div>
        <button *ngIf="ytEvent !== 1"
            type="button"
            class="btn btn-primary"
            (click)="playVideo()"
            mat-fab color="primary">
            Play >
        </button>
        <button *ngIf="ytEvent === 1"
            type="button"
            class="btn btn-danger"
            (click)="pauseVideo()"
            mat-fab color="primary">
            Pausa ||
        </button>
    </div>
    <section class="card-img-top">
        <youtube-player
        [videoId]="id"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
        [playerVars]="playerVars">
        </youtube-player>
    </section>
</div> -->
